.CardsPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.verMas {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2%;
}