@font-face {
    font-family: Abel;
    src: url(../fonts/Abel-Regular.ttf);
}

.ContactForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContactForm__input {
    width: 75%;
    height: 3em;
    margin: 1em 0 1em 0;
    border-radius: 8pt;
    border-style: solid;
    box-sizing: border-box;
    border-color: rgb(175, 0, 0);
    padding: 0 1em 0 1em;
    font-size: 1em;
    font-family: Abel;
    background-color: rgba(255, 255, 255, 0.384);
}

.ContactForm__message {
    width: 75%;
    min-height: 3em;
    margin: 1em 0 1em 0;
    border-radius: 8pt;
    border-style: solid;
    box-sizing: border-box;
    padding: 0 1em 0 1em;
    font-size: 1em;
    flex: 1;
    font-family: Abel;
    border-color: rgb(175, 0, 0);
    background-color: rgba(255, 255, 255, 0.384);
}

.ContactForm__input::placeholder, .ContactForm__message::placeholder {
    color: rgb(58, 58, 58);
}

.ContactForm__buttonContainer {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 5%;
}

@media(max-width: 1024px) {
    .ContactForm__input {
        width: 90%;
        height: 3em;
        margin: 0.3em;
    }
    .ContactForm__message {
        width: 90%;
        min-height: 3em;
        margin: 0.3em;
    }
    .ContactForm__buttonContainer {
        width: 90%;
        justify-content: center;
    }
}

/*
@media(max-width: 1024px) and (max-height: 500px) {
    .ContactForm__input {
        width: 90%;
        height: 2.3em;
        margin: 0.2em;
    }
    .ContactForm__message {
        width: 90%;
        min-height: 3em;
        margin: 0.2em;
    }
    .ContactForm__buttonContainer {
        width: 90%;
        justify-content: center;
    }
}*/