@font-face {
    font-family: Abel;
    src: url(../fonts/Abel-Regular.ttf);
}

.ContactScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ContactScreen__container {
    width: 75%;
    height: 85%;
    border-style: solid;
    display: flex;
    overflow: hidden;
}

.Form {
    display: flex;
    flex-grow: 1;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.Form__header {
    min-height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    color: rgb(0, 0, 0);
}

.Form__title {
    margin: 0;
    font-family: Abel;
    font-size: 2.5em;
}

.Form__subtitle {
    font-family: Abel;
    font-size: 1.2em;
}

.Form__line {
    margin: 0;
}

.Form__inputs {
    flex-grow: 1;
    width: 100%;
}

.Form__networks {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5%;
    box-sizing: border-box;
}

.Form__networks a {
    font-family: Abel;
    text-decoration: none;
    font-size: 1.2em;
}

.Form__networks a:hover {
    text-decoration: underline;
}

.Map {
    display: flex;
    flex-grow: 1;
    border-left-style: solid;
}

@media(max-width: 1200px) {
    .ContactScreen__container {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 1024px) {
    .ContactScreen__container {
        width: 95%;
        height: 95%;
    }
    .Form__title {
        font-size: 2em;
    }
    .Form__subtitle {
        font-size: 0.9em;
        width: 100%;
        margin: 0.1em;
    }
    .Form__networks {
        height: auto;
        flex-direction: row;
        padding-left: 5%;
    }
    
}

/*PORTRAIT MOBIL*/

@media(max-width: 1024px) and (orientation: portrait), (max-width: 1024px) and (orientation: landscape) and (max-height: 330px) {
    .ContactScreen__container {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
    }
    .Form {
        width: 100%;
    }
    .Map {
        border-left-style: none;
    }
}

/* LANDSCAPE MOBIL */

@media(max-width: 1024px) and (orientation: landscape) and (min-height: 330px) {
    .ContactScreen__container {
        width: 97%;
        height: 97%;
        flex-direction: row;
    }
    .Form {
        width: 70%;
    }
    .Form__header {
        justify-content: flex-start;
    }
    .Form__networks {
        display: none;
    }
}

/* IPAD */

@media (orientation: portrait) and (min-width: 700px) and (min-height: 1023px) {
    .Form {
        height: 60%;
    }
    .Map {
        height: 30%;
    }
    .Form__title {
        font-size: 3em;
        text-align: center;
    }
    .Form__subtitle {
        font-size: 1.3em;
        margin: 0;
        text-align: center;
    }
    .Form__inputs {
        width: 80%;
    }
}