@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

.Logo {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
}

.Logo__image {
    min-height: 2em;
    height: 60%;
}

.Logo__text {
    font-size: 2.3em;
    font-family: 'Dancing Script';
}

@media (max-width: 800px) {
    .Logo__text {
        font-size: 1.8em;
    }
}