@font-face {
    font-family: Rajdhani-r;
    src: url(../fonts/Rajdhani-Regular.ttf);
}

.Logout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logout__button {
    border-style: solid;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding: 1em 1.5em 1em 1.5em;
    font-size: 1em;
    transition-duration: 0.4s;
    font-family: Rajdhani-r;
    text-align: center;
    line-height: 1em;
}

.Logout__button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgb(189, 189, 189);
}

@media (max-width: 800px) {
    .Logout__button {
        padding: 0.5em 1em 0.5em 1em;
        font-size: 0.9em;
    }

}