.NavBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    box-sizing: border-box;
    height: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.NavBar__leftItems {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.NavBar__rightItems {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

@media (max-width: 1200px) {
    .NavBar {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1000px) {
    .NavBar {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (max-width: 800px) {
    .NavBar {
        padding-left: 1%;
        padding-right: 1%;
        height: 12%;
    }

    .NavBar__rightItems {
        flex-wrap: nowrap;
        align-items: center;
    }
}