@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

.ShopBar {
    width: 100%;
    padding: 2% 0% 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShopBar__content {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(53, 53, 53);
    padding: 0.5% 5% 0.5% 5%;
    background-color: #0022153b;
}

.ShopBar__content-anchor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ShopBarAnchor__text {
    font-size: 1.8em;
    text-decoration: none;
    color: #F5DEB3;
    font-family: 'Dancing Script';
    margin: 0 0 0.5% 0;
    font-weight: bold;
    text-shadow: 0 0 1px green;
}

.ShopBarAnchor__img {
    width: 3.5vmax;
    min-width: 50px;
}

@media (max-width: 800px) {
    .ShopBarAnchor__text {
        font-size: 1.2em;
    }
}