@font-face {
    font-family: Abel;
    src: url(../fonts/Abel-Regular.ttf);
}
.ShopBanner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ShopBanner-invisible {
    display: none;
}

.ShopBanner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ShopBanner__button {
    border-color: rgb(223, 3, 3);
    color: rgb(223, 3, 3);
    background-color: black;
    border-style: solid;
    padding: 0.5em 1em 0.5em 1em;
    transition-duration: 1s;
    box-shadow: 0 0 6px 3px rgba(128, 0, 0, 0.616);
    font-family: 'Abel';
    font-family: 1.1em;
    font-weight: bold;
    border-radius: 1em;
}

.ShopBanner__button:hover {
    border-color:black;
    color: black;
    background-color:  rgb(223, 3, 3);
    cursor: pointer;
    transform: scale(1.1);
}

.ShopBanner__button:focus {
    outline: none;
}